body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.root {
  display: flex;
  height: 100%;
  width: 100%;
}

.section {
  border: 1px solid white;
}

#options-button {
  background-color: white;
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#options-sheet {
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 150px;
  transition: width 2s linear;
  transition: height 2s linear;
  padding: 8px;
  border: 1px solid white;
}

#options-sheet.option-sheet-hidden {
  display: none;
  height: 0px;
  width: 0px;
}

#options-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 8px;
  right: 4px;
}

.selectors {
  margin-bottom: 8px;
}

.selectors > select {
  width: 100%;
  margin-bottom: 8px;
}

#code-section {
  color: white;
  font-size: 10px;
  width: 400px;
  margin: 16px 16px;
  padding: 0px 8px;
  word-break: break-word;
  overflow-x: scroll;
}

#signature-section {
  display: flex;
  position: relative;
  padding: 8px 8px;
  margin: 16px 16px 16px 0px;
  flex-grow: 1;
}

#signature-canvas {
  flex-grow: 1;
}
